{% extends 'inventory/base.html'%} {% block content %}
<div class="row">
  <div class="col-4">
    <a href="{% url 'desktops' %}" class="btn btn-primary">Desktop</a>
    <a href="" class="btn btn-danger">+</a>
  </div>
  <div class="col-4">
    <a href="{% url 'laptops' %}" class="btn btn-primary">Laptop</a>
    <a href="" class="btn btn-danger">+</a>
  </div>
  <div class="col-4">
    <a href="{% url 'mobiles' %}" class="btn btn-primary">Mobile</a>
    <a href="" class="btn btn-danger">+</a>
  </div>
</div>
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Model</th>
      <th scope="col">Price</th>
      <th scope="col">status</th>
      <th scope="col">issues</th>
    </tr>
  </thead>
  <tbody>
    {% for laptop in laptops %}
    <tr>
      <th scope="row">{{laptop.pk}}</th>
      <td>{{laptop.type}}</td>
      <td>{{laptop.price}}</td>
      <td>{{laptop.status}}</td>
      <td>{{laptop.issues}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
