{% extends 'inventory/base.html'%} {% block content %}
<div class="row">
  <div class="col-4">
    <a href="{% url 'desktops' %}" class="btn btn-primary">Desktop</a>
    <a href="{% url 'add_desk' %}" class="btn btn-danger">+</a>
  </div>
  <div class="col-4">
    <a href="{% url 'laptops' %}" class="btn btn-primary">Laptop</a>
    <a href="{% url 'add_lap' %}" class="btn btn-danger">+</a>
  </div>
  <div class="col-4">
    <a href="{% url 'mobiles' %}" class="btn btn-primary">Mobile</a>
    <a href="{% url 'add_mob' %}" class="btn btn-danger">+</a>
  </div>
</div>
<h4 class="mt-4">currently viewing {{title}}</h4>
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Model</th>
      <th scope="col">Price</th>
      <th scope="col">status</th>
      <th scope="col">issues</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <th scope="row">{{item.pk}}</th>
      <td>{{item.type}}</td>
      <td>{{item.price}}</td>
      <td>{{item.status}}</td>
      <td>{{item.issues}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
